<h2>Create A New Account</h2>

<h4>Signup</h4>
<%= form_for @user do |f| %>
<%= f.label :email %><br>
<%= f.text_field :email %><br>
<%= f.label :password %><br>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %><br>
<%= f.password_field :password_confirmation %><br><br>
<%= f.submit "Create Account" %><br><br><br>
<% end %>

<h4>Login</h4>
<%= form_for @user, url: login_path, method: :post do |f| %>
<%= f.label :email %><br>
<%= f.text_field :email %><br>
<%= f.label :password %><br>
<%= f.password_field :password %><br><br>
<%= f.submit "Login" %>
<% end %>
