<h3>Links Index/Root</h3>
<div id="logout-button">
  <%= link_to "Logout", '/logout'  %>
</div>

<br><br>

<div id="links-form">
  <%= form_for @link do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :url %><br>
  <%= f.text_field :url %><br>
  <%= f.submit "Create Link" %><br><br><br>
  <% end %>
</div>

<div id="links-list">
  <% @links.each do |link| %>
    Title: <%= link.title %><br>
    URL: <%= link.url %><br>
    Has Been Read: <%= link.read %><br><br>
  <% end %>
</div>
