<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% flash.each do |type, msg| %>
    <% if type == "success" %>
      <h4 style="color:green"><%= content_tag :div, sanitize(msg), class: type %></h4>
    <% else %>
      <h4 style="color:red"><%= content_tag :div, sanitize(msg), class: type %></h4>
      <% end %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
